In [2]:
import pandas as pd

In [103]:
df_json = pd.read_json('csvjson.json')
df_csv = pd.read_csv('cc_state_sector_details.csv')
df = df_csv.merge(df_json, on='stateid',how='left')

In [104]:
"""
 Mostrar las ciudades que han  recibido premios a
 nivel estatal en orden descendiente
"""

awards = df.sort_values('awards_per_state_value', ascending=False)
awards[['state_x','awards_per_state_value','year']].drop_duplicates(subset = ["state_x"])

                     state_x  awards_per_state_value  year
226253         Massachusetts                    59.9  2012
509651               Wyoming                    58.1  2010
136180                 Idaho                    55.5  2006
47847               Arkansas                    51.4  2004
207450                 Maine                    50.9  2008
312877            New Jersey                    44.6  2008
455400                  Utah                    42.7  2007
177875                Kansas                    41.8  2011
375487              Oklahoma                    41.5  2010
189627              Kentucky                    41.4  2010
159226               Indiana                    40.4  2008
383295                Oregon                    39.6  2011
57858             California                    39.3  2006
302785         New Hampshire                    39.0  2008
217591              Maryland                    38.6  2003
169034                  Iowa                    38.3  2006
255920           Mississippi                    38.0  2012
249354             Minnesota                    38.0  2006
433609             Tennessee                    37.8  2010
484269            Washington                    37.3  2013
37824                Arizona                    36.8  2004
322742            New Mexico                    36.7  2008
394131          Pennsylvania                    36.4  2013
267102              Missouri                    36.2  2009
343984        North Carolina                    35.9  2012
443622                 Texas                    35.1  2012
331099              New York                    34.9  2002
105903               Florida                    34.7  2005
146571              Illinois                    34.4  2002
410625        South Carolina                    34.4  2011
24694                 Alaska                    34.2  2012
365228                  Ohio                    34.1  2009
115281               Georgia                    34.0  2003
69838               Colorado                    33.7  2006
493651         West Virginia                    33.1  2011
418093          South Dakota                    32.0  2007
504256             Wisconsin                    31.6  2004
86926               Delaware                    31.1  2004
285703              Nebraska                    31.1  2002
349413          North Dakota                    30.2  2009
15120                Alabama                    29.1  2011
199874             Louisiana                    28.9  2010
469382              Virginia                    28.6  2006
233850              Michigan                    28.3  2005
125604                Hawaii                    28.2  2011
294947                Nevada                    27.7  2004
460398               Vermont                    25.9  2008
397159          Rhode Island                    25.6  2004
71073            Connecticut                    23.9  2008
90019   District of Columbia                    22.6  2008
272450               Montana                    20.9  2012
0              United States                     NaN  2002

In [115]:
"""
 Mostrar las personas se graduaron del género femenino
 en el anio del 2010 de la ciudad de New York en el 
 sistema público
"""
gender = df.gender=='F'
year = df.year==2010
city = df.state_abbr_x == 'NY'
control_x = df.control_x =='Public'
df_gender_year = df[(gender & year) & (city & control_x)]

df_gender_year

,stateid,state_x,state_abbr_x,state_post,level_x,control_x,schools_count,counted_pct,awards_per_state_value,awards_per_natl_value,...,year,gender,race,cohort,grad_cohort,grad_100,grad_150,grad_100_rate,grad_150_rate,grad_cohort_ct
323448,36,New York,NY,N.Y.,4-year,Public,39,57.5,22.6,21.5,...,2010,F,A,2y all,118,NULL,65,NULL,55.1,24
323449,36,New York,NY,N.Y.,4-year,Public,39,57.5,22.6,21.5,...,2010,F,Ai,2y all,11,NULL,2,NULL,18.2,24
323450,36,New York,NY,N.Y.,4-year,Public,39,57.5,22.6,21.5,...,2010,F,B,2y all,973,NULL,310,NULL,31.9,24
323451,36,New York,NY,N.Y.,4-year,Public,39,57.5,22.6,21.5,...,2010,F,H,2y all,708,NULL,279,NULL,39.4,24
323452,36,New York,NY,N.Y.,4-year,Public,39,57.5,22.6,21.5,...,2010,F,W,2y all,669,NULL,287,NULL,42.9,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
330427,36,New York,NY,N.Y.,2-year,Public,35,59.3,18.0,16.5,...,2010,F,H,4y other,1044,NULL,207,NULL,19.8,13
330428,36,New York,NY,N.Y.,2-year,Public,35,59.3,18.0,16.5,...,2010,F,W,4y bach,9827,4600,6369,46.8,64.8,39
330429,36,New York,NY,N.Y.,2-year,Public,35,59.3,18.0,16.5,...,2010,F,W,4y other,2899,NULL,891,NULL,30.7,13
330430,36,New York,NY,N.Y.,2-year,Public,35,59.3,18.0,16.5,...,2010,F,X,4y bach,17980,7221,10828,40.2,60.2,39
330431,36,New York,NY,N.Y.,2-year,Public,35,59.3,18.0,16.5,...,2010,F,X,4y other,6137,NULL,1603,NULL,26.1,13

In [113]:
"""
 Mostrar las personas se graduaron del género masculino
 en el anio del 2012 de la ciudad de Wyoming en el 
 sistema privado
"""
gender = df.gender=='M'
year = df.year==2012
city = df.state_abbr_x == 'WY'
control_x = df.control_x =='Private for-profit'
df_gender_year = df[(gender & year) & (city & control_x)]

df_gender_year

,stateid,state_x,state_abbr_x,state_post,level_x,control_x,schools_count,counted_pct,awards_per_state_value,awards_per_natl_value,...,year,gender,race,cohort,grad_cohort,grad_100,grad_150,grad_100_rate,grad_150_rate,grad_cohort_ct
506874,56,Wyoming,WY,Wyo.,4-year,Private for-profit,0,NaN,NaN,24.6,...,2012,M,A,4y bach,19,2,4,10.5,21.1,1
506875,56,Wyoming,WY,Wyo.,4-year,Private for-profit,0,NaN,NaN,24.6,...,2012,M,Ai,4y bach,4,0,1,0,25,1
506876,56,Wyoming,WY,Wyo.,4-year,Private for-profit,0,NaN,NaN,24.6,...,2012,M,B,4y bach,18,2,3,11.1,16.7,1
506877,56,Wyoming,WY,Wyo.,4-year,Private for-profit,0,NaN,NaN,24.6,...,2012,M,H,4y bach,20,1,10,5,50,1
506878,56,Wyoming,WY,Wyo.,4-year,Private for-profit,0,NaN,NaN,24.6,...,2012,M,W,4y bach,650,104,329,16,50.6,1
506879,56,Wyoming,WY,Wyo.,4-year,Private for-profit,0,NaN,NaN,24.6,...,2012,M,X,4y bach,782,118,385,15.1,49.2,1
506928,56,Wyoming,WY,Wyo.,4-year,Private for-profit,0,NaN,NaN,24.6,...,2012,M,A,4y other,0,NULL,0,NULL,NULL,1
506929,56,Wyoming,WY,Wyo.,4-year,Private for-profit,0,NaN,NaN,24.6,...,2012,M,Ai,4y other,0,NULL,0,NULL,NULL,1
506930,56,Wyoming,WY,Wyo.,4-year,Private for-profit,0,NaN,NaN,24.6,...,2012,M,B,4y other,0,NULL,0,NULL,NULL,1
506931,56,Wyoming,WY,Wyo.,4-year,Private for-profit,0,NaN,NaN,24.6,...,2012,M,H,4y other,0,NULL,0,NULL,NULL,1
506932,56,Wyoming,WY,Wyo.,4-year,Private for-profit,0,NaN,NaN,24.6,...,2012,M,W,4y other,0,NULL,0,NULL,NULL,1
506933,56,Wyoming,WY,Wyo.,4-year,Private for-profit,0,NaN,NaN,24.6,...,2012,M,X,4y other,0,NULL,0,NULL,NULL,1
506982,56,Wyoming,WY,Wyo.,4-year,Private for-profit,0,NaN,NaN,24.6,...,2012,M,A,2y all,24,NULL,23,NULL,95.8,1
506983,56,Wyoming,WY,Wyo.,4-year,Private for-profit,0,NaN,NaN,24.6,...,2012,M,Ai,2y all,67,NULL,45,NULL,67.2,1
506984,56,Wyoming,WY,Wyo.,4-year,Private for-profit,0,NaN,NaN,24.6,...,2012,M,B,2y all,49,NULL,32,NULL,65.3,1
506985,56,Wyoming,WY,Wyo.,4-year,Private for-profit,0,NaN,NaN,24.6,...,2012,M,H,2y all,220,NULL,182,NULL,82.7,1
506986,56,Wyoming,WY,Wyo.,4-year,Private for-profit,0,NaN,NaN,24.6,...,2012,M,W,2y all,1220,NULL,960,NULL,78.7,1
506987,56,Wyoming,WY,Wyo.,4-year,Private for-profit,0,NaN,NaN,24.6,...,2012,M,X,2y all,1583,NULL,1243,NULL,78.5,1
507036,56,Wyoming,WY,Wyo.,4-year,Private for-profit,0,NaN,NaN,24.6,...,2012,M,A,2y all,8,NULL,1,NULL,12.5,7
507037,56,Wyoming,WY,Wyo.,4-year,Private for-profit,0,NaN,NaN,24.6,...,2012,M,Ai,2y all,47,NULL,9,NULL,19.1,7
507038,56,Wyoming,WY,Wyo.,4-year,Private for-profit,0,NaN,NaN,24.6,...,2012,M,B,2y all,43,NULL,4,NULL,9.3,7
507039,56,Wyoming,WY,Wyo.,4-year,Private for-profit,0,NaN,NaN,24.6,...,2012,M,H,2y all,80,NULL,15,NULL,18.8,7
507040,56,Wyoming,WY,Wyo.,4-year,Private for-profit,0,NaN,NaN,24.6,...,2012,M,W,2y all,1162,NULL,342,NULL,29.4,7
507041,56,Wyoming,WY,Wyo.,4-year,Private for-profit,0,NaN,NaN,24.6,...,2012,M,X,2y all,1388,NULL,386,NULL,27.8,7
508980,56,Wyoming,WY,Wyo.,2-year,Private for-profit,1,NaN,58.1,32.8,...,2012,M,A,4y bach,19,2,4,10.5,21.1,1
508981,56,Wyoming,WY,Wyo.,2-year,Private for-profit,1,NaN,58.1,32.8,...,2012,M,Ai,4y bach,4,0,1,0,25,1
508982,56,Wyoming,WY,Wyo.,2-year,Private for-profit,1,NaN,58.1,32.8,...,2012,M,B,4y bach,18,2,3,11.1,16.7,1
508983,56,Wyoming,WY,Wyo.,2-year,Private for-profit,1,NaN,58.1,32.8,...,2012,M,H,4y bach,20,1,10,5,50,1
508984,56,Wyoming,WY,Wyo.,2-year,Private for-profit,1,NaN,58.1,32.8,...,2012,M,W,4y bach,650,104,329,16,50.6,1
508985,56,Wyoming,WY,Wyo.,2-year,Private for-profit,1,NaN,58.1,32.8,...,2012,M,X,4y bach,782,118,385,15.1,49.2,1
509034,56,Wyoming,WY,Wyo.,2-year,Private for-profit,1,NaN,58.1,32.8,...,2012,M,A,4y other,0,NULL,0,NULL,NULL,1
509035,56,Wyoming,WY,Wyo.,2-year,Private for-profit,1,NaN,58.1,32.8,...,2012,M,Ai,4y other,0,NULL,0,NULL,NULL,1
509036,56,Wyoming,WY,Wyo.,2-year,Private for-profit,1,NaN,58.1,32.8,...,2012,M,B,4y other,0,NULL,0,NULL,NULL,1
509037,56,Wyoming,WY,Wyo.,2-year,Private for-profit,1,NaN,58.1,32.8,...,2012,M,H,4y other,0,NULL,0,NULL,NULL,1
509038,56,Wyoming,WY,Wyo.,2-year,Private for-profit,1,NaN,58.1,32.8,...,2012,M,W,4y other,0,NULL,0,NULL,NULL,1
509039,56,Wyoming,WY,Wyo.,2-year,Private for-profit,1,NaN,58.1,32.8,...,2012,M,X,4y other,0,NULL,0,NULL,NULL,1
509088,56,Wyoming,WY,Wyo.,2-year,Private for-profit,1,NaN,58.1,32.8,...,2012,M,A,2y all,24,NULL,23,NULL,95.8,1
509089,56,Wyoming,WY,Wyo.,2-year,Private for-profit,1,NaN,58.1,32.8,...,2012,M,Ai,2y all,67,NULL,45,NULL,67.2,1
509090,56,Wyoming,WY,Wyo.,2-year,Private for-profit,1,NaN,58.1,32.8,...,2012,M,B,2y all,49,NULL,32,NULL,65.3,1
509091,56,Wyoming,WY,Wyo.,2-year,Private for-profit,1,NaN,58.1,32.8,...,2012,M,H,2y all,220,NULL,182,NULL,82.7,1
509092,56,Wyoming,WY,Wyo.,2-year,Private for-profit,1,NaN,58.1,32.8,...,2012,M,W,2y all,1220,NULL,960,NULL,78.7,1
509093,56,Wyoming,WY,Wyo.,2-year,Private for-profit,1,NaN,58.1,32.8,...,2012,M,X,2y all,1583,NULL,1243,NULL,78.5,1
509142,56,Wyoming,WY,Wyo.,2-year,Private for-profit,1,NaN,58.1,32.8,...,2012,M,A,2y all,8,NULL,1,NULL,12.5,7
509143,56,Wyoming,WY,Wyo.,2-year,Private for-profit,1,NaN,58.1,32.8,...,2012,M,Ai,2y all,47,NULL,9,NULL,19.1,7
509144,56,Wyoming,WY,Wyo.,2-year,Private for-profit,1,NaN,58.1,32.8,...,2012,M,B,2y all,43,NULL,4,NULL,9.3,7
509145,56,Wyoming,WY,Wyo.,2-year,Private for-profit,1,NaN,58.1,32.8,...,2012,M,H,2y all,80,NULL,15,NULL,18.8,7
509146,56,Wyoming,WY,Wyo.,2-year,Private for-profit,1,NaN,58.1,32.8,...,2012,M,W,2y all,1162,NULL,342,NULL,29.4,7
509147,56,Wyoming,WY,Wyo.,2-year,Private for-profit,1,NaN,58.1,32.8,...,2012,M,X,2y all,1388,NULL,386,NULL,27.8,7

,stateid,state_x,state_abbr_x,state_post,level_x,control_x,schools_count,counted_pct,awards_per_state_value,awards_per_natl_value,...,year,gender,race,cohort,grad_cohort,grad_100,grad_150,grad_100_rate,grad_150_rate,grad_cohort_ct
0,0,United States,US,U.S.,4-year,Public,632,NaN,NaN,21.5,...,2002,B,A,2y all,2621,NULL,1758,NULL,67.1,304
1,0,United States,US,U.S.,4-year,Public,632,NaN,NaN,21.5,...,2002,B,Ai,2y all,866,NULL,463,NULL,53.5,304
2,0,United States,US,U.S.,4-year,Public,632,NaN,NaN,21.5,...,2002,B,B,2y all,13457,NULL,7182,NULL,53.4,304
3,0,United States,US,U.S.,4-year,Public,632,NaN,NaN,21.5,...,2002,B,H,2y all,9470,NULL,6028,NULL,63.7,304
4,0,United States,US,U.S.,4-year,Public,632,NaN,NaN,21.5,...,2002,B,W,2y all,37280,NULL,24076,NULL,64.6,304
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
509647,56,Wyoming,WY,Wyo.,2-year,Private for-profit,1,NaN,58.1,32.8,...,2010,M,Ai,4y bach,7,1,2,14.3,28.6,1
509648,56,Wyoming,WY,Wyo.,2-year,Private for-profit,1,NaN,58.1,32.8,...,2010,M,B,4y bach,10,0,5,0,50,1
509649,56,Wyoming,WY,Wyo.,2-year,Private for-profit,1,NaN,58.1,32.8,...,2010,M,H,4y bach,24,2,10,8.3,41.7,1
509650,56,Wyoming,WY,Wyo.,2-year,Private for-profit,1,NaN,58.1,32.8,...,2010,M,W,4y bach,642,121,316,18.8,49.2,1
509651,56,Wyoming,WY,Wyo.,2-year,Private for-profit,1,NaN,58.1,32.8,...,2010,M,X,4y bach,742,133,361,17.9,48.7,1